* {
    margin: 0px;
    padding: 0px;
}

body {
    background: radial-gradient(circle, rgb(176, 174, 142), rgb(69, 88, 100));
    position: sticky;
}

/* login content style */
.login_con {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10vh;
}

.login_con .form_con {
    width: 30%;
    height: 40vh;
    padding: 10px 20px 10px 20px;
    border: 1px solid #000;
    background: rgba(255, 255, 255, 0.5);
    display: flex;
    flex-direction: column;
}

.login_con .form_con .title {
    font-size: 30px;
    font-weight: bold;
}

.login_con .form_con .main {
    width: fit-content;
    margin: 8vh auto 0px auto;
}

.login_con .form_con .main label {
    display: inline-block;
    width: 150px;
    font-size: 25px;
}

.login_con .form_con .main input {
    height: 30px;
    padding-left: 5px;
    border: none;
    border-radius: 10px;
}

.login_con .form_con .main button {
    display: block;
    margin: 5vh auto 0px auto;
    width: 10vw;
    height: 5vh;
    font-size: 25px;
    border: none;
    border-radius: 5px;
}